.loading-container {
    background-color: #f7eee3; /* match your background */
    color: #671b22; /* match your font color */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
}

.loading-logo img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.loading-text {
    font-size: 48px;
    margin: 10px 0;
    font-weight: bold;
}

.loading-subtext {
    font-size: 20px;
    color: #671b22;
}
